.goals-container{
    background-color: #b6adadc5;
}
.goals-container img{
    border: 0.25rem solid white;
    border-radius: 3rem;
}
button:hover { 
    transform: scale(1.1);
} 
.goals-container img:hover{
    transform: scale(0.95);
}