.login-container{
    background-color: #ffffffa3;
    margin: 2rem 2rem ;
    padding: 2rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
}
input[type=text], input[type=password] { 
     width: 75%; 
     margin: 8px 0;
     padding: 12px 20px; 
     display: inline-block; 
     border: 2px solid black; 
     border-radius: 3rem;
     box-sizing: border-box; 
 }
button:hover { 
     transform: scale(1.1);
 } 